@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Courgette', cursive;
}

header {
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
}

header > h1 {
    padding: 50px 0px 10px 0px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 50px;
    font-weight: bolder;
}

a.link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-family: var(--fonte1);
}

main > section {
    width:100%;
    height: 600px;
}

p.texto-principal {
    padding: 60px 0px 10px 55px;
    font-family: var(--fonte3);
    font-weight: bold;
    font-size: 1.5em;
    text-align: justify;
}

p.texto-imagem {
    color: white;
    padding: 30px 0px 30px 30px;
    font-family: var(--fonte3);
    font-weight: bold;
    font-size: 1.5em;
    text-align: justify;
    width: 14em;
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    top: 3em;
    left: 1.4em;
}

section.container {
    position: relative;
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 8px 10px 22px rgba(0, 0, 0, 0.596);
}

section.dois-textos {
    width:100%;
    height: 1000px;
}

section.container2 {
    position: relative;
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: inset 8px 10px 22px rgba(0, 0, 0, 0.596);
}

footer {
    background-color: black;
    padding: 10px 0px 10px 0px;
}

footer > p {
    color: white;
    text-align: center;
    font-size: 1.2em;
}